<template>
<div class="container">
  
  <button @click="showUsers" class="btn btn-success">Show Users</button>&nbsp;
  <button @click="showPosts" class="btn btn-success">Show Posts</button>&nbsp;
  <button @click="showComments" class="btn btn-success">Show comments</button>
  <ul>
    <li v-for="user in users" :key = "user.id" class="container-fluid btn-secondary">{{user.name}}</li>
  </ul>
   <ul>
    <li v-for="post in posts" :key = "post.id" class="container-fluid btn-light">{{post.title}}</li>
  </ul>
   <ul>
    <li v-for="comment in comments" :key = "comment.id" class="container-fluid btn-primary">{{comment.name}}</li>
  </ul>
</div>
  
</template>

<script>

export default {
  name: 'ShowAPI',
  data(){
    return{
      users: [],
      posts: [],
      comments: []
    }
  },
  methods: {


    showUsers() {
      this.posts =[]
      this.comments =[]
      axios.get('https://jsonplaceholder.typicode.com/users').then(response => {

      this.users = response.data

    })
  },
    
  
    showPosts() {
      this.users =[]
      this.comments =[]
      axios.get('https://jsonplaceholder.typicode.com/posts').then(response => {

      this.posts = response.data

    })
  },
    
    
    showComments() {
      this.posts =[]
      this.users =[]
      axios.get('https://jsonplaceholder.typicode.com/comments').then(response => {

      this.comments = response.data

    })
  }
}
}

</script>

<style>
div{
  position: relative;
}
</style>