<template>
  <div id="app">
    <ShowAPI/>
  </div>
</template>

<script>
import ShowAPI from './components/ShowAPI.vue'

window.axios = require('axios')

export default {
  name: 'app',
  components: {
    ShowAPI
  },
  data(){
    return{
      users: []
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
